html {height: 100%;} 
body,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4{ margin: 0; padding: 0} 
body{ font-family: 'PingFangSC-Regular,PingFangSC', 'Arial Narrow', Arial, sans-serif; height: 100%;}  
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {  -webkit-text-size-adjust:100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%;} 
img{  vertical-align: middle;} 
ul{ list-style: none;}
input,textarea { border: 0; -webkit-appearance: none; }  
div {  -webkit-touch-callout: none;  } 
.green { color: #417505FF;} 
.red { color: rgb(219, 70, 70);} 
.yellow {color : #F5A623FF};
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgb(223, 221, 221);
    font-size: 16px;
    text-align: left;
  } 
  
.index { height: 100%; background-color: #F6F6F6FF;}
.index .head{ margin-top: 0px; background-color: #4A673AFF; font-size: 16px; background: url("../img/indexBg.png") no-repeat ; background-size: 100% 100%;}  
.index .head ul li{ display: flex; flex-direction: row;   padding:  0px 13px;  }  
.index .head .baseInfo{   height: 96px; line-height: 96px; } 
.index .head .baseInfo img { height: 50px; width: 50px; border-radius: 25px;  margin-top: 40px; }    
.index .head .baseInfo span { flex: 1; margin-left: 18px;  margin-top: 18px; color: #fff;}    
.index .head .baseInfo .more{ width: 20px; margin-top: 18px; color: #9FB347FF;}   
.index .head .wallet{  height: 65px; line-height: 65px; } 
.index .head .wallet p{  flex: 1; text-align: center;}  
.index .head .wallet p:nth-child(2){ background-color: #9FB347FF; width: 1px; flex: none; margin: 20px 0; }  
.index .head .wallet p:nth-child(3){  }  
.index .head .wallet span{  font-size: 15px; margin-left: 10px; display: block; line-height: 30px; } 
.index .head .wallet span:nth-child(1){ color: #fff; font-size: 17px;} 
.index .head .wallet span:nth-child(2){ color: #9FB347FF; font-size: 13px;}  

.index .head .wallet .more{ width: 20px; display: block;  color: #9FB347FF; } 
.index .content {  font-size: 16px; background-color: #F6F6F6FF; }  
.index .content ul {display: flex; flex-direction: column;   background-color: #FFFFFFFF; margin-top: 15px;}
.index .content ul li {  line-height: 50px; display: flex; flex-direction: row; flex: 1; text-align: left; border-bottom: solid 1px #F4F4F4FF;} 
.index .content ul li img {  width: 15px; height: 15px; border-radius: 8px; display: block; align-self: center; margin-left: 13px; } 
.index .content ul li span { flex: 1; font-size: 15px; color: #4A4A4AFF; padding-left: 10px;}   
.index .content ul li a { font-size: 13px; color: #9B9B9BFF; margin-right: 20px;}   
.index .layui-layer.layui-layer-dialog{margin-top: 30%;}



.reg {}
.reg .head{ display: flex; flex-direction: column;margin-top: 60px;} 
.reg .head .imgInfo{ text-align: center;} 
.reg .head .imgInfo img { height: 107px; width: 107px; border-radius: 54px; border: 2px solid #4a673a;}   
.reg .head h2{ text-align: center;font-size: 15px; margin-top: 10px;} 
.reg .content { margin-top: 70px; font-size: 15px; padding: 0 30px; } 
.reg .content ul li { border-bottom: 1px solid #334A673A; line-height: 30px;display: flex; flex-direction: row; margin-top: 30px;} 
.reg .content ul li span { color: #000; width: 65px; min-width: 65px;}  
.reg .content ul li input { font-size: 18px; flex: auto;} 
.reg .content ul li a { color:#4A673A; font-size: 12px;  border: 1px solid#4A673A;  line-height: 25px; height: 25px;   width: 80px;min-width: 80px;  text-align: center; padding: 0;    } 
.reg .content ul li a.getCode.cur { color: #999; background-color: #fff; border: 1px solid #999; min-width: 100px; }  
.reg .content .btn { width: 100%; text-align: center; margin-top: 70px; } 
.reg .content .btn  a{  background-color: #4A673A; color: #fff;  display: block; padding: 10px;  border-radius: 20px; } 


.wallet {}
.wallet .head{  line-height: 170px; height: 170px; background-color: #4A673AFF;   }  
.wallet .head p{ text-align: center; font-size: 25px;  line-height: 60px; padding-top: 40px; }   
.wallet .head p span{margin-left: 10px; color: #fff;  }    
.wallet .head h1{  text-align: center; font-size: 13px; color: #9FB347FF; line-height: 20px; }  
.wallet .head h1 img{   height: 15px; width: 19px; margin-right: 5px;}   
.wallet .content { font-size: 15px;}
.wallet .content h2{  font-size: 14px; border-bottom: 1px solid #BCBCBC;padding: 10px;}  
.wallet .content ul li{ display: flex; flex-direction: row;   padding: 10px 10px; border-bottom: 1px solid #BCBCBC; }  
.wallet .content ul li img{ width: 25px; height: 25px; margin-top: 5px; margin-left: 10px;}  
.wallet .content ul li p{ flex: 1; padding-left: 5px; }    
.wallet .content ul li p span{text-align: left; display: block;}   
.wallet .content ul li p span:nth-child(1){ color: #000; font-size: 17px; }   
.wallet .content ul li p span:nth-child(2){ color: #9B9B9BFF;font-size: 12px; margin-top: 5px;}    
.wallet .content ul li > span{  text-align: left; font-size: 20px; min-width: 80px;  }  

.userInfo { height: 100%; background-color: #F6F6F6FF;} 
.userInfo .head{ padding-top: 25px; text-align: center; background-color: #fff;}    
.userInfo .head img{   height: 107px; width: 107px; border-radius: 54px;  margin: 0 auto; border: 2px solid #4A673A;  }    
.userInfo .content { font-size: 15px; padding-top: 43px; background-color: #fff;   box-shadow:0px -1px 0px #9B9B9B80 inset;}  
.userInfo .content ul li{ display: flex; flex-direction: row;   padding: 0 20px; line-height: 50px;  border-bottom: 1px solid #F4F4F4; font-size: 15px; }   
.userInfo .content ul li b{  font-weight: 300; color: #9B9B9B; width: 100px; }   
.userInfo .content ul li span{ width: 80px; text-align: left; color: #4A4A4A; }    

.measureInfo { height: 100%; background-color: #F6F6F6FF;} 
.measureInfo .head{  text-align: left; padding: 20px 25px 10px; font-weight: 300; }    
.measureInfo .head h1{ font-size: 16px; }    
.measureInfo .head h2{ font-size: 16px; margin-top: 5px; }    
.measureInfo .content { font-size: 15px; background-color: #fff;}  
.measureInfo .content ul { display: flex; flex-direction: row; flex-wrap: wrap;}    
.measureInfo .content ul li{  width: 49.5%; border-right: 1px solid #BCBCBC; border-top: 1px solid #BCBCBC; line-height: 35px; text-align: center;}    
.measureInfo .content ul li:nth-child(even){ border-right: none;}
.measureInfo .content ul li p{  padding: 0px 20px; min-height: 35px; }    
.measureInfo .content ul li p:nth-child(1){  background-color: #F4F4F4FF; color: #666666; border-bottom: 1px solid #BCBCBC; font-size: 15px;  }    
.measureInfo .content ul li p:nth-child(2){ font-size: 17px;   }    
.measureInfo .content h3{ font-size: 16px;background-color: #60874C4D; line-height: 40px; height: 40px; padding-left: 25px;}    
.measureInfo .content ul.sub li:nth-last-child(1) { background-color:#fff; width: 100%;  min-height: 35px; border-bottom: 1px solid #BCBCBC;  }   
